body {
    height: 100vh;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

#page-1 {
    background-image: url("../images/pic-1.jpg");
}

#page-2 {
    background-image: url("../images/pic-2.jpg");
}

#page-3 {
    background-image: url("../images/pic-3.jpg");
}

#page-4 {
    background-image: url("../images/pic-4.jpg");
}