
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

.container {
    height: 440px;
    width: 440px;
    //padding: 15px;
    position: relative;
    left: 400px;
    top: 100px;
      .element {
        z-index: -1;
        border: 5px;
        height: 200px;
        width: 200px;
        background-color: white;
        display: inline-block;
        opacity:0.5;
          a {
              display: block;
              height: 100%;
              width: 100%;
          }
          &#el-1 {
              background-image: url("../images/pic-1.jpg");
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat; 
          }
          &#el-2 {
              background-image: url("../images/pic-2_thumbnail.jpg");
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat; 
          }
          &#el-3 {
              background-image: url("../images/pic-3_thumbnail.jpg");
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat; 
          }
          &#el-4 {
              background-image: url("../images/pic-4_thumbnail.jpg");
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat; 
          }
    } 
    

     
}
/* co ma sie dziac:

- obrazek jako tlo strony docelowej (plynne przejscie  - powinien byc dokladnie ten, ktory sie skonczyl animowac)
- efekt zoom in mapy - czy uzyskany?

*/
